<div *ngIf="document.data" >
  <section
    class="homepage-banner"
    [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(' + document.data.banner_image.url + ')'}"
  >
    <div class="banner-content container">
      <h1 class="banner-title">{{ PrismicDOM.RichText.asText(document.data.title) }}</h1>
      <div class="banner-description" [innerHTML]="PrismicDOM.RichText.asHtml(document.data.tagline)"></div>
    </div>
  </section>
  <div class="container" >
    <div *ngFor="let slice of document.data.body">
      <div [ngSwitch]="slice.slice_type">
        <app-text-section *ngSwitchCase="'text_section'" [slice]="slice"></app-text-section>
        <app-image-highlight *ngSwitchCase="'image_highlight'" [slice]="slice"></app-image-highlight>
        <app-image-gallery *ngSwitchCase="'image_gallery'" [slice]="slice"></app-image-gallery>
      </div>
    </div>
  </div>
</div>